{% extends 'base.html' %}
{% block title %}{% endblock %}
{% block navbar-links %}
	<li><a href="{% url 'index' %}">Home</a></li>
	<li class="active" ><a href="{% url 'featured' %}">Featured</a></li>
	<li><a href="{% url 'about' %}">About</a></li>
	<li><a href="{% url 'contact' %}">Contact</a></li>
	<li class="cart"><a href="{% url 'cart' %}"><i class="icon-shopping-cart"></i> Cart [0]</a></li>
    <li class="cart"><a href="{% url 'login' %}">Log in</a></li>
{% endblock %}
{% block content %}

	{% load static %}
	<div class="breadcrumbs">
		<div class="container">
			<div class="row">
				<div class="col">
					<p class="bread"><span><a href="../index">Home</a></span> / <span>Featured</span></p>
				</div>
			</div>
		</div>
	</div>

	<div class="breadcrumbs-two">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="breadcrumbs-img" style="background-image: url({% static 'textbook/images/cover-img-1.jpg' %});">
						<h2>Featured</h2>
					</div>
					<!-- <div class="menu text-center"> -->
						<!-- <p><a href="#">New Arrivals</a> <a href="#">Best Sellers</a> <a href="#">Sale</a></p> -->
					<!-- </div> -->
				</div>
			</div>
		</div>
	</div>

    <div class="breadcrumbs">
        <div class="container">
			<div class="row">
                <div class="col">
                    <form class="search-result" action="{% url 'result' %}">
                        <input type="search" placeholder="Search here...">
                        <button type="submit"><i class="icon-search"> </i>SEARCH</button>
                    </form>  
                </div>
            </div>
        </div>
    </div>
    
	<!-- <div class="colorlib-product"> -->
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-xl-3">
					<div class="row">
                        <div class="col-sm-12">
							<div class="side border mb-1">
								<h3>Sort By</h3>
                                <ul>
                                    <li><a href="#">Best Match</a></li>
                                    <li><a href="#">Price: Low to High</a></li>
                                    <li><a href="#">Price: High to Low</a></li>
                                </ul>
							</div>
						</div>
						<div class="col-sm-12">
							<div class="side border mb-1">
								<h3>School</h3>
								<ul>
									<li><a href="#">Primary School</a></li>
									<li><a href="#">Middle School</a></li>
									<li><a href="#">High School</a></li>
									<li><a href="#">Tertiary</a></li>
								</ul>
							</div>
						</div>
						<!-- <div class="col-sm-12"> -->
							<!-- <div class="side border mb-1"> -->
								<!-- <h3>Semester</h3> -->
								<!-- <div class="block-26 mb-2">	 -->
									<!-- <ul> -->
										<!-- <li><a href="#">1</a></li> -->
										<!-- <li><a href="#">2</a></li> -->
									<!-- </ul> -->
								<!-- </div> -->
							<!-- </div> -->
						<!-- </div> -->
						<div class="col-sm-12">
							<div class="side border mb-1">
								<h3>Subject</h3>
								<ul>
									<li><a href="#">English</a></li>
									<li><a href="#">Mathematics</a></li>
									<li><a href="#">Languages</a></li>
									<li><a href="#">Science</a></li>
									<li><a href="#">Health</a></li>
									<li><a href="#">Art</a></li>
									<li><a href="#">Music</a></li>
									<li><a href="#">Geography</a></li>
									<li><a href="#">Information Technology</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-9 col-xl-9">
					<div class="row row-pb-md">
						<div class="col-lg-4 mb-4 text-center">
							<div class="product-entry border">
								<a href="../product-detail" class="prod-img">
									<img src="{% static 'textbook/images/item-1.jpg' %}" class="img-fluid">
								</a>
								<div class="desc">
									<h2><a href="../product-detail">Textbook 1</a></h2>
									<span class="price">$139.00</span>
								</div>
							</div>
						</div>
						<div class="col-lg-4 mb-4 text-center">
							<div class="product-entry border">
								<a href="../product-detail" class="prod-img">
									<img src="{% static 'textbook/images/item-2.jpg' %}" class="img-fluid">
								</a>
								<div class="desc">
									<h2><a href="../product-detail">Textbook 2</a></h2>
									<span class="price">$139.00</span>
								</div>
							</div>
						</div>
						<div class="col-lg-4 mb-4 text-center">
							<div class="product-entry border">
								<a href="../product-detail" class="prod-img">
									<img src="{% static 'textbook/images/item-3.jpg' %}" class="img-fluid">
								</a>
								<div class="desc">
									<h2><a href="../product-detail">Textbook 3</a></h2>
									<span class="price">$139.00</span>
								</div>
							</div>
						</div>
						<div class="w-100"></div>
						<div class="col-lg-4 mb-4 text-center">
							<div class="product-entry border">
								<a href="../product-detail" class="prod-img">
									<img src="{% static 'textbook/images/item-4.jpg' %}" class="img-fluid">
								</a>
								<div class="desc">
									<h2><a href="../product-detail">Textbook 4</a></h2>
									<span class="price">$139.00</span>
								</div>
							</div>
						</div>
						<div class="col-lg-4 mb-4 text-center">
							<div class="product-entry border">
								<a href="../product-detail" class="prod-img">
									<img src="{% static 'textbook/images/item-5.jpg' %}" class="img-fluid">
								</a>
								<div class="desc">
									<h2><a href="../product-detail">Textbook 5</a></h2>
									<span class="price">$139.00</span>
								</div>
							</div>
						</div>
						<div class="col-lg-4 mb-4 text-center">
							<div class="product-entry border">
								<a href="../product-detail" class="prod-img">
									<img src="{% static 'textbook/images/item-6.jpg' %}" class="img-fluid">
								</a>
								<div class="desc">
									<h2><a href="../product-detail">Textbook 6</a></h2>
									<span class="price">$139.00</span>
								</div>
							</div>
						</div>
						<div class="w-100"></div>
						<div class="col-lg-4 mb-4 text-center">
							<div class="product-entry border">
								<a href="../product-detail" class="prod-img">
									<img src="{% static 'textbook/images/item-7.jpg' %}" class="img-fluid">
								</a>
								<div class="desc">
									<h2><a href="../product-detail">Textbook 7</a></h2>
									<span class="price">$139.00</span>
								</div>
							</div>
						</div>
						<div class="col-lg-4 mb-4 text-center">
							<div class="product-entry border">
								<a href="../product-detail" class="prod-img">
									<img src="{% static 'textbook/images/item-8.jpg' %}" class="img-fluid">
								</a>
								<div class="desc">
									<h2><a href="../product-detail">Textbook 8</a></h2>
									<span class="price">$139.00</span>
								</div>
							</div>
						</div>
						<div class="col-lg-4 mb-4 text-center">
							<div class="product-entry border">
								<a href="../product-detail" class="prod-img">
									<img src="{% static 'textbook/images/item-9.jpg' %}" class="img-fluid">
								</a>
								<div class="desc">
									<h2><a href="../product-detail">Textbook 9</a></h2>
									<span class="price">$139.00</span>
								</div>
							</div>
						</div>
						<div class="w-100"></div>
						<div class="col-lg-4 mb-4 text-center">
							<div class="product-entry border">
								<a href="../product-detail" class="prod-img">
									<img src="{% static 'textbook/images/item-10.jpg' %}" class="img-fluid">
								</a>
								<div class="desc">
									<h2><a href="../product-detail">Textbook 10</a></h2>
									<span class="price">$139.00</span>
								</div>
							</div>
						</div>
						<div class="col-lg-4 mb-4 text-center">
							<div class="product-entry border">
								<a href="../product-detail" class="prod-img">
									<img src="{% static 'textbook/images/item-11.jpg' %}" class="img-fluid">
								</a>
								<div class="desc">
									<h2><a href="../product-detail">Textbook 11</a></h2>
									<span class="price">$139.00</span>
								</div>
							</div>
						</div>
						<div class="col-lg-4 mb-4 text-center">
							<div class="product-entry border">
								<a href="../product-detail" class="prod-img">
									<img src="{% static 'textbook/images/item-12.jpg' %}" class="img-fluid">
								</a>
								<div class="desc">
									<h2><a href="../product-detail">Textbook 12</a></h2>
									<span class="price">$139.00</span>
								</div>
							</div>
						</div>
						<div class="w-100"></div>
						<div class="col-lg-4 mb-4 text-center">
							<div class="product-entry border">
								<a href="../product-detail" class="prod-img">
									<img src="{% static 'textbook/images/item-13.jpg' %}" class="img-fluid">
								</a>
								<div class="desc">
									<h2><a href="../product-detail">Textbook 13</a></h2>
									<span class="price">$139.00</span>
								</div>
							</div>
						</div>
						<div class="col-lg-4 mb-4 text-center">
							<div class="product-entry border">
								<a href="../product-detail" class="prod-img">
									<img src="{% static 'textbook/images/item-14.jpg' %}" class="img-fluid">
								</a>
								<div class="desc">
									<h2><a href="../product-detail">Textbook 14</a></h2>
									<span class="price">$139.00</span>
								</div>
							</div>
						</div>
						<div class="col-lg-4 mb-4 text-center">
							<div class="product-entry border">
								<a href="../product-detail" class="prod-img">
									<img src="{% static 'textbook/images/item-15.jpg' %}" class="img-fluid">
								</a>
								<div class="desc">
									<h2><a href="../product-detail">Textbook 15</a></h2>
									<span class="price">$139.00</span>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 text-center">
							<div class="block-27">
							<ul>
								<li><a href="#"><i class="ion-ios-arrow-back"></i></a></li>
								<li class="active"><span>1</span></li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><a href="#">4</a></li>
								<li><a href="#">5</a></li>
								<li><a href="#"><i class="ion-ios-arrow-forward"></i></a></li>
							</ul>
						</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	<!-- </div> -->

{% endblock %}