{% extends 'base.html' %}
{% load static %}
{% block title %}
    {% if category %}{{ category.name }} {% else %} Products {% endif %}
{% endblock %}

{% block content %}

    {% for product in products %}
      <a href="{{ product.get_absolute_url }}">
        <img src="{% if product.image %} {{ product.image.url }} {% else %} {% static 'img/default.png' %} {% endif %}" alt="..." style="height: 130px; width: auto">
      </a>
         <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
        <p class="">Price: {{ product.price }}</p>
    {% endfor %}

            <h4>Categories</h4>
              <li {% if not category %} class="active"{% endif %}><a href="{% url 'textbook:product_list' %}">All</a></li>
            {% for c in categories %}
              <li {% if category.slug == c.slug %} class="active"{% endif %}>
                  <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
              </li>
            {% endfor %}
{% endblock %}
