$mdc-theme-primary: #00152E; /*NEXT button background*/
$mdc-theme-on-primary: #FFFFFF; /*NEXT*/
$mdc-theme-secondary: #FEEAE6; /*nothing?*/
$mdc-theme-on-secondary: #442C2E; /*nothing?*/
$mdc-theme-surface: #FFFBFA; /*Button background*/
$mdc-theme-on-surface: #442C2E; /*unclicked texts*/
$mdc-theme-background: #FFFFFF; /*Item names*/
$mdc-theme-on-background: #442C2E;