@import "./common";
@import "@material/textfield/mdc-text-field";
@import "@material/button/mdc-button";
@import "@material/drawer/mdc-drawer";
@import "@material/list/mdc-list";
@import "@material/image-list/mdc-image-list";
@import "@material/ripple/mixins";
@import "@material/typography/mdc-typography";
@import "@material/elevation/mdc-elevation";

.header {
    text-align: left;
    padding: 0 0 20px;
}

.jasex-title {
    @include mdc-typography(headline4);
    text-align: center;
    margin: 5px auto;
    display: block;
    padding: 40px 0 0;
    color: white;
}

.jasex-drawer {
    @include mdc-drawer-fill-color-accessible(primary);
    // Drawer defaults to a higher z-index, but we aren't overlaying it over anything
    @include mdc-drawer-z-index(0);

    text-transform: uppercase;

    .mdc-list {
        margin: 70px 5px auto 5px;
    }

    .mdc-list-item {
        border-radius: 6px;
        justify-content: center;
    }

    // This needs 3-class specificity to override MDC Drawer styles
    .mdc-list .mdc-list-item {
        @include mdc-states-activated(#fff);
    }
}

.jasex-select-item-divider {
    display: block;
    border-bottom-color: #FFFFFF;
    border-bottom-width: 2px;
    width: 50px;
    position: relative;
    top: -8px;
}

.jasex-drawer .jasex-select-item-divider {
    margin: 0 auto;
}

.username,
.password {
    display: block;
    width: 300px;
    margin: 20px auto;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    width: 300px;
    margin: auto;
    float: right;
}

.button-container button {
    margin: 3px;
}

.jasex-signup {
    background: #eee;
    display: flex;
  
}

.logintest {
    width: 50%;
    height: 70%;
	margin: 3em auto;
	padding: 3em 2em 2em 2em;
	background: #fafafa;
	border: 1px solid #ebebeb;
	box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
}

.group { 
	position: relative; 
	margin-bottom: 30px; 
}

input {
	font-size: 18px;
	padding: 10px 10px 10px 5px;
	-webkit-appearance: none;
	display: block;
	background: #fafafa;
	color: #636363;
	width: 100%;
	border: none;
	border-radius: 0;
	border-bottom: 1px solid #757575;
}

input:focus { outline: none; }


/* Label */

label {
	color: #999; 
	font-size: 18px;
	font-weight: normal;
	position: absolute;
	pointer-events: none;
	left: 5px;
	top: 10px;
	transition: all 0.2s ease;
}


/* active */

input:focus ~ label, input.used ~ label {
	top: -20px;
  transform: scale(.75); left: -2px;
	/* font-size: 14px; */
	color: #4a89dc;
}


/* Underline */

.bar {
	position: relative;
	display: block;
	width: 100%;
}

.bar:before, .bar:after {
	content: '';
	height: 2px; 
	width: 0;
	bottom: 1px; 
	position: absolute;
	background: #4a89dc; 
	transition: all 0.2s ease;
}

.bar:before { left: 50%; }

.bar:after { right: 50%; }


/* active */

input:focus ~ .bar:before, input:focus ~ .bar:after { width: 50%; }


/* Highlight */

.highlight {
	position: absolute;
	height: 60%; 
	width: 100px; 
	top: 25%; 
	left: 0;
	pointer-events: none;
	opacity: 0.5;
}


/* active */

input:focus ~ .highlight {
	animation: inputHighlighter 0.3s ease;
}


/* Animations */

@keyframes inputHighlighter {
	from { background: #4a89dc; }
	to 	{ width: 0; background: transparent; }
}

.left {
    position: absolute;
    top: 0;
    left: 35%;
    box-sizing: border-box;
    padding: 40px;
    width: 300px;
    height: 400px;
}
  
.or {
    position: absolute;
    top: 50%;
    left: 58%;
    width: 40px;
    height: 40px;
    background: #DDD;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    line-height: 40px;
    text-align: center;
}

.right {
    position: absolute;
    top: 20%;
    left: 61%;
    box-sizing: border-box;
    padding: 40px;
    width: 300px;
    height: 400px;
    background: url('https://goo.gl/YbktSj');
    background-size: cover;
    background-position: center;
    border-radius: 0 2px 2px 0;
}

button.social-signin {
    margin-bottom: 20%;
    width: 250px;
    height: 40px;
    border: none;
    border-radius: 2px;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    transition: 0.2s ease;
    cursor: pointer;
}

button.social-signin:hover,
button.social-signin:focus {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    transition: 0.2s ease;
}

button.social-signin:active {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    transition: 0.2s ease;
}

button.social-signin.jasex {
    background: #00152E;
}

button.social-signin.facebook {
    background: #32508E;
}

button.social-signin.twitter {
    background: #55ACEE;
}

button.social-signin.google {
    background: #DD4B39;
}

.search-input {
  position: relative;
  padding: 1rem 0 0.5rem 0;
  height: 4.5rem;
  width: 14.5rem; //22.5rem
}

.search-input input {
  border: none;
  border-bottom: 1px solid white;
  display: block;
  font-size: 1rem;
  line-height: 1rem;
  margin: 0;
  padding: 0.5rem 0;
  width: 100%;
  text-align: left; 
  background-color: transparent;
  color: white;
}

.search-input input:focus {
  outline: none;
  color: white;
}

.search-input label {
  position: absolute;
  left: 0;
  top: 1.625rem;
  width: 100%;
  color: white;
  font-size: 1rem;
  line-height: 1rem;
  font-weight: normal;
  pointer-events: none;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.search-input input:focus ~ label {
  top: 0;
  font-size: 0.75rem;
  color: white;
}

.search-input label.not-empty {
  top: 0;
  font-size: 0.75rem;
}

.search-input span:nth-of-type(3) {
  position: absolute;
  color: white;
  left: 100%;
  top: 1.625rem;
  font-size: 1rem;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.search-input input:focus ~ span:nth-of-type(3) {
  left: -1.625rem;
  top: 1.625rem;
  color: white;
}

.search-input span:nth-of-type(3).not-empty {
  left: -1.625rem !important;
  top: 1.625rem !important;
}

.search-input span:nth-of-type(4) {
  position: absolute;
  color: white;
  right: 0;
  top: 1.625rem;
  font-size: 1rem;
  opacity: 0;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.search-input input:focus ~ span:nth-of-type(4) {
  color: white;
  opacity: 1;
  cursor: pointer;
}

.search-input span:nth-of-type(4).not-empty {
  opacity: 1 !important;
}

.search-input .bar {
  display: block;
  width: 0;
  margin-left: 50%;
  height: 1px;
  background: white;
  opacity: 0;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.search-input input:focus ~ .bar {
  opacity: 1;
  width: 100%;
  margin-left: 0;
}